version: "3"
services:
  shop:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8080:8080"
    depends_on:
      - db
    volumes:
      - ".:/usr/src/app"
  db:
    build:
      context: ./db
      dockerfile: Dockerfile
    ports:
      - "3004:3004"
    volumes:
      - "./db:/usr/src/app"
